// variables

$black: #222222;
$white: #fcfcfc;

$background-primary: #90dff3;
$background-secondary: #f3c890;

$background-photo: url("/dist/images/pexels-photo-1367233.jpeg");

//font-colors

//$primary-color: #333333; may not need this one
$secondary-color: rgb(255, 230, 0);
$hover-color: rgb(255, 200, 200);

// mixins

@mixin easeOut {
  transition: 0.5s ease-out all;
}
// functions

// media query shells

// Media query mixins - to arrange pages for different screen sizes. Remember, these are only skeletons. The rest of the code for these is in _mobile.scss

// Smartphone
@mixin screenSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

// Tablets, some laptops
@mixin screenMd {
  @media screen and (max-width: 768px) and (min-width: 501px) {
    @content;
  }
}

//Desktop
@mixin screenLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

// Extra wide screens
@mixin screenXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
