@include screenXl {
}

@include screenLg {
  .slide-menu {
    width: 25%;
    height: auto;

    .slide-nav {
      display: none;
    }
  }

  .top-section {
    background: $white;
  }

  .mobile-nav {
    display: inline;
  }
}

@include screenMd {
}

@include screenSm {
  body {
    overflow: visible;
    overflow-x: hidden;
    min-width: 500px;
  }

  .top-nav {
    #signInForm {
      position: absolute;
      top: 45px;
      margin: 0 auto;
    }
    .nav-items {
      .menu-button {
        background: none;
        .btn-line {
          background: gray;
        }
      }
    }
  }

  .slide-menu {
    width: 35%;
    padding: 95px 0 0 0;

    .item {
      &.slide-nav {
        display: block;
        visibility: visible;
      }
    }
  }

  .top-section {
    background: $white;
    display: block;
    padding: 80px 0 0 0;
    color: $black;

    .message {
      h2,
      h3 {
        text-shadow: none;
      }
    }

    .card-container {
      width: 500px;
      margin: 0 auto;
      border-radius: 0px;
      display: block;

      .form {
        width: 100%;
        margin: 0;
        padding: 15px;
        border-radius: 0px;
        align-items: left;

        label {
          float: left;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
          width: calc(95% - 100px);
          float: left;
        }

        input[type="submit"] {
          width: 95%;
        }
      }
    }
  }

  .mobile-nav {
    display: none;

    &#home {
      display: inline;
      font-size: 1.2em;
      padding-bottom: 15px;
    }
  }
}
